{% extends 'layout.html' %}

{% block content %}
<h2 align="center">ลงชื่อเข้าใช้</h2>

{% if messages %} <!--เช็คว่ามี messages มั้ย ถ้าไม่มีไม่โชว์ -->
<div class="alert alert-danger" role="alert">   <!--Bootstrap-->
{% for i in messages %}     <!--For message alert show-->
    <b>{{i}}</b>
{% endfor %}
</div>
{% endif %}

<form action="" method="post">
    {% csrf_token %}        <!-- Error when add csrf_token -->
    <!-- Username -->
    <div class="form-group">
        <label for="">Username</label>
        <input type="text" class="form-control" name="username">
    </div>

    <!-- Password -->
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password">
    </div>

    <!-- Submit botton -->
    <input type="submit" value="Log in" class="btn btn-primary">
</form>

{% endblock %}