{% extends 'layout.html' %}

{% block content %}
<h2 align="center">ลงทะเบียน</h2>
<form action="addUser" method="post">
    {% csrf_token %}        <!-- Error when add csrf_token -->
    <!-- Username -->
    <div class="form-group">
        <label for="">Username</label>
        <input type="text" class="form-control" name="username">
    </div>
    <!-- FirstName -->
    <div class="form-group">
        <label for="">First Name</label>
        <input type="text" class="form-control" name="firstname">
    </div>
    <!-- LastName -->
    <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" class="form-control" name="lastname">
    </div>
    <!-- Email -->
    <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email">
    </div>
    <!-- Password -->
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <!-- Re-Password -->
    <div class="form-group">
        <label for="">Re-Password</label>
        <input type="password" class="form-control" name="repassword">
    </div>

    <!-- Submit botton -->
    <input type="submit" value="ลงทะเบียน" class="btn btn-primary">
</form>





{% endblock %}